<!-- Dropdown Trigger -->
<a class='dropdown-trigger <%= options[:trigger_css] %>' data-target='<%= id %>'><%= title %></a>

<!-- Dropdown Structure -->
<ul id='<%= id %>' class='dropdown-content <%= options[:dropdown_css] %>'>
  <%= yield %>
</ul>
