<div class="fixed-action-btn">
  <% if defined? actions %>
    <a class="btn-floating btn-large">
      <i class="large material-icons"><%= icon %></i>
    </a>
    <ul>
      <% actions.each do |_name, options| %>
	<li>
	  <%= link_to options[:path],
	               method: options[:method],
	               class: "btn-floating #{options[:css_class]}" do %>
	    <i class="material-icons"><%= options[:icon] %></i>
	  <% end %>
	</li>
      <% end %>
    </ul>
  <% else %>
    <%= link_to path, class: 'btn-floating btn-large' do %>
      <i class="large material-icons"><%= icon %></i>
    <% end %>
  <% end %>
</div>
