<!-- Settings -->
<% path = admin_setting_path(setting) %>
<li class="<%= 'active' if current_path?(path) %>">
  <a href="<%= path %>" class="waves-effect">
    <i class="material-icons">settings</i>
    <%= Setting.model_name.human.pluralize %>
  </a>
</li>

<!-- Users -->
<li><a href="#!"><i class="material-icons">supervisor_account</i>Users</a></li>

<li><div class="divider"></div></li>

<!-- Content -->
<li><a href="" class="subheader">Content</a></li>
<% content.each do |item| %>
  <% path = [:admin, item] %>
  <li class="<%= 'active' if current_path?(path) %>">
    <%= link_to path, class: 'waves-effect' do %>
      <i class="material-icons"><%= icon_for(item.class) %></i>
      <%= item.name %>
    <% end %>
  </li>
<% end %>
