<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <!-- sidenav trigger -->
      <div class="hide-on-large-only">
	<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
      <a href="#!" class="brand-logo"><%= setting.name %></a>
      <ul class="right">
	<%= component :dropdown, id: 'account', title: current_user.email do %>
	  <li>
	    <%= link_to '#' do %>
	      <i class="material-icons">edit</i><%= t('edit_profile') %>
	    <% end %>
	  </li>
	  <li>
	    <%= link_to destroy_user_session_path, method: :delete do %>
	      <i class="material-icons">exit_to_app</i><%= t('sign_out') %>
	    <% end %>
	  </li>
	<% end %>
      </ul>
    </div>
  </nav>
</div>
